---
layout: default
title: Blog Archive
permalink: /pages/Archive
---

<div class="layoutz">

<div class="sidebarz project" id="sidebarz">
  
  <div class="imgz">
    
  </div>
  
  
  <div class="contactz">
    <a class="fab fa-twitter" title="" target="_blank" href="https://www.twitter.com/zckwzk"></a>
    <a class="fab fa-github" title="" target="_blank" href="https://github.com/rantdome/"></a>
      <a class="fa fa-envelope" title="" target="_blank" href="mailto:rantdomez@gmail.com"></a>
  </div>

  <ul class="listz">
      {% for item in site.data.navigation %}
      <li>
        <a href="{{ item.link }}" {% if page.url == item.link %} id="current" {% else %} class ="navz" {% endif %}><i class="fas {{ item.font }} fa-fw"></i>{{ item.name }}</a>
      </li>
      {% endfor %}
  </ul>



</div>

<main class="mainz" id="mainz">

<div id="nav-z">
{% include navigation.html %}
</div>

<div class="LatestPost" id="Categories">
  <h1> Blog Archives</h1>
</div>


<div class="archive-body">
{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
{% for yearMonth in postsByYearMonth %}

<div class="card-archive">
<h3>{{ yearMonth.name }}</h3>
<ul id="Archives-deck">
{% for post in yearMonth.items %}
 <li class="archive-list"><span class="archive-date">{{ post.date | date_to_string }}</span> &nbsp; <a class="archive-title" href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>	
</div>
{% endfor %}




</div>



</main>
</div>




