---
layout: default
permalink: /pages/Download
title: Download
---




<div class="layoutz">

<div class="sidebarz project" id="sidebarz">
  
  <div class="imgz">
    
  </div>
  
  
  <div class="contactz">
    <a class="fab fa-twitter" title="" target="_blank" href="https://www.twitter.com/zckwzk"></a>
    <a class="fab fa-github" title="" target="_blank" href="https://github.com/rantdome/"></a>
      <a class="fa fa-envelope" title="" target="_blank" href="mailto:rantdomez@gmail.com"></a>
  </div>

  <ul class="listz">
      {% for item in site.data.navigation %}
      <li>
        <a href="{{ item.link }}" {% if page.url == item.link %} id="current" {% else %} class ="navz" {% endif %}><i class="fas {{ item.font }} fa-fw"></i>{{ item.name }}</a>
      </li>
      {% endfor %}
  </ul>



</div>

<main class="mainz" id="mainz">

<div id="nav-z">
{% include navigation.html %}
</div>

<div class="LatestPost" id="Categories">
  <h1><i class="fas fa-download fa-fw"></i> Download</h1>
</div>





</main>
</div>


